<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-md-50 text-center text-sm-start content-404">
      <h1>404</h1>
      <p>Sorry, the page you are looking for does not exists here.</p>
      <button class="btn btn-orange text-light" [routerLink]="'/home'">
        <span><i class='bx bx-home' style='color:#ffffff; font-size: 20px'  ></i></span> Đi tới Trang chủ
      </button>
    </div>
    <div class="col-md-6 col-sm-12 image-404">
      <img src="assets/404.png" alt="" class="img-fluid" />
    </div>
  </div>
</div>
