<section class="why-jui-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="description text-center mb-30">
          <h1 class="mb-3">Tại sao chọn Juichilly?</h1>
          <p>
            Chúng tôi luôn muốn đem đến cho bạn một sản phẩm tốt nhất, an toàn
            và tiện dụng cho sức khỏe của gia đình bạn!
          </p>
        </div>
      </div>
    </div>

    <div class="reasons">
      <div class="row">
        <div class="col-lg-3 col-6 text-center">
          <div class="reason-block">
            <img
              class="img-fluid"
              src="../../../assets/why-jui (shared component)/nutrition.png"
            />
            <p>Dinh dưỡng cân bằng</p>
          </div>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <div class="reason-block">
            <img
              class="img-fluid"
              src="../../../assets/why-jui (shared component)/satisfy.png"
            />
            <p>Hài lòng khách hàng</p>
          </div>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <div class="reason-block">
            <img
              class="img-fluid"
              src="../../../assets/why-jui (shared component)/friendly.png"
            />
            <p>Đánh giá thân thiện</p>
          </div>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <div class="reason-block">
            <img
              class="img-fluid"
              src="../../../assets/why-jui (shared component)/natural.png"
            />
            <p>Từ trái cây tự nhiên</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
