<section class="faq-wrapper">
  <div class="container pb-100" #faqs>
    <div class="row">
      <div class="col-sm-12">
        <div class="faq pb-150 text-center">
          <h1 class="section__title">Thắc mắc thường gặp</h1>

          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button
                        class="btn"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        1. Nguồn nguyên liệu của Juichilly có an toàn và đảm bảo
                        không?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Hoàn toàn đảm bảo. Nguyên liệu đầu vào luôn là mối quan
                      tâm và là khâu kĩ lưỡng nhất trong việc sản xuất Juice.
                      Chúng mình làm mọi thứ có thể để chọn lựa những nguyên
                      liệu canh tác hữu cơ theo mùa và thuận tự nhiên.
                      <br />
                      <br />

                      True Juice không khẳng định 100% nguyên liệu là hữu cơ bởi
                      chúng mình hiểu để làm điều đó với điều kiện thị trường
                      rau củ quả tại Việt Nam là gần như không thể. Vì vậy True
                      Juice sẽ và đã nỗ lực tìm kiếm và thiết lập chuỗi cung ứng
                      các loại rau củ canh tác hướng hữu cơ, sau đó mới đến các
                      loại rau củ an toàn Global Gap hay Vietgap. Một số loại
                      quả chúng mình buộc phải dùng hoa quả nhập như táo Juliet
                      (Hữu cơ nhập khẩu Pháp) và lê Hàn Quốc.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        2. Việc Ép sống (raw) không qua chế biến, đun nấu liệu
                        có an toàn?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Rau-củ-quả thực vật tươi sống chứa đầy đủ các dinh dưỡng,
                      chất xơ, enzymes sống cần thiết cho cơ thể khỏe mạnh. Quá
                      trình nấu ăn đặc biệt là nhiệt độ cao, nấu kỹ, sẽ phá hủy
                      các enzymes quý giá của thực vật, giảm mức độ hấp thụ từ
                      cơ thể. Trong khi đó rau-củ-quả tươi sống không gây tải
                      trọng nhiều lên hệ tiêu hóa (do vẫn chứa đầy đủ các
                      enzymes). Vì vậy thông thường ăn thực phẩm sống sẽ cho ta
                      cảm giác sảng khoái nhẹ nhàng, chứ không mỏi mệt và nặng
                      nề như cảm giác khi ăn các thực phẩm công nghiệp, qua
                      nhiều chế biến, tinh luyện v.v. hay còn gọi là thực phẩm
                      ‘chết’ (dead processed foods).
                      <br /><br />
                      Chỉ cần đảm bảo nguồn nguyên liệu an toàn. Rau-củ-quả tươi
                      sống giúp bạn có nhiều năng lượng và tâm trạng phấn chấn
                      tươi tỉnh hơn. Hãy nhớ, thực phẩm tốt sẽ đem lại tâm trạng
                      tốt.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        3. Quy trình sản xuất nước ép tại Juichilly như thế nào?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Tại Juichilly, Team sản xuất bắt đầu làm việc từ rất sớm
                      để cắt gọt nguyên liệu đã được sơ chế, rửa sạch bằng nước
                      lọc RO và ép nước nhằm đảm bảo Juice là tươi và mới nhất
                      trong ngày. Sau đó, sẽ được đóng chai, gắn nhãn, ngày sản
                      xuất và vận chuyển trong các thùng lạnh chuyên dụng gửi
                      tới địa chỉ của khách hàng. Các bạn tham khảo kĩ hơn tại
                      mục “Hành Trình Của Mỗi Chai Juice” tại Home
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        4. Thành phần trong mỗi chai Juichilly 1L gồm những gì?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse"
                    aria-labelledby="headingFour"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Mỗi chai Juice 1L được ép nguyên chất từ 550gr - 900gr hoa
                      quả tươi sống. TUYỆT ĐỐI KHÔNG thêm nước pha loãng, KHÔNG
                      đường tinh luyện, KHÔNG phụ gia, chất bảo quản hay bất kì
                      thành phần nào khác.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                      >
                        5. Juice của các bạn có protein hay không?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseFive"
                    class="collapse"
                    aria-labelledby="headingFive"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Có. Mọi người thường nghĩ chỉ các sản phẩm từ động vật mới
                      cung cấp protein. Nhưng sự thật là với nhóm thực vật như
                      Kale(Cải xoăn), Broccoli(súp lơ xanh), Spinach(Cải bó
                      xôi), Beetroot(củ dền)… được sử dụng trong nước ép của
                      Juichilly cung cấp một lượng protein đáng kinh ngạc và là
                      protein thực vật rất tốt và dễ hấp thụ cho cơ thể.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseSix"
                        aria-expanded="false"
                        aria-controls="collapseSix"
                      >
                        6. Tại sao tôi nên uống nước ép hoa quả tươi mỗi ngày?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseSix"
                    class="collapse"
                    aria-labelledby="headingSix"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Hầu hết mọi người trong cuộc sống đô thị bận rộn thường
                      không tiêu thụ đủ lượng rau củ và trái cây cần thiết trong
                      chế độ ăn hàng ngày. Nước ép là nguồn dinh dưỡng dồi dào,
                      đậm đặc có được từ rất nhiều rau củ quả, hơn nữa dưới dạng
                      chất lỏng rất dễ dàng cho cơ thể hấp thụ, là cách ‘ăn’ rau
                      củ quả nhiều, nhanh và hiệu quả.
                      <br /><br />
                      Juichilly là nước ép sống, ép bằng phương pháp ép lạnh ko
                      sinh nhiệt để giữ được tối đa dinh dưỡng thực vật, hoàn
                      toàn nguyên chất, không qua xử lý nhiệt hay chất phụ gia
                      nào, với mục đích mang lại nguồn vi chất và enzymes tiêu
                      hóa mạnh mẽ cho cơ thể. Với lượng vitamin khoáng chất và
                      enzymes dồi dào, cơ thể được trợ giúp để thải độc tốt hơn,
                      phòng tránh nguy cơ bệnh tật và mất cân bằng cho sức khỏe.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven"
                        aria-expanded="false"
                        aria-controls="collapseSeven"
                      >
                        7. Thời điểm tốt nhất để uống Juice là khi nào?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseSeven"
                    class="collapse"
                    aria-labelledby="headingSeven"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Nước ép tốt nhất nên được uống khi bụng không no(Nếu bạn
                      không bị các bệnh liên quan đến đường ruột hay dạ dày).
                      Hãy uống Juice sau ăn 1-2h hoặc ít nhất 30’ trước bữa ăn.
                      Lúc này cơ thể bạn sẵn sàng hấp thu tối đa các vitamins và
                      khoáng chất từ nước ép nhất.
                      <br /><br />
                      Bật mý nhỏ: Khi uống Juice, đừng vội xem Tag công thức.
                      Bạn hãy thử từng ngụm nhỏ và nhắm mắt cảm nhận hương vị
                      mỗi loại xem. Chắc chắn bạn sẽ cảm nhận nguồn năng lượng
                      tươi mới len lỏi từng tế bào. Một cảm giác thật fresh và
                      thú vị!
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="heading8">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse8"
                        aria-expanded="false"
                        aria-controls="collapse8"
                      >
                        8. Cách bảo quản và hạn sử dụng của Juice?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapse8"
                    class="collapse"
                    aria-labelledby="heading8"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Juice LUÔN LUÔN cần giữ trong tủ mát/lạnh. Nước ép
                      Juichilly là nước ép tươi sống (raw & alive). Các chất
                      dinh dưỡng quý báu từ Juice nhạy cảm với nhiệt độ và ánh
                      sáng và dễ dàng bị oxy hóa và hỏng nếu không được giữ
                      lạnh. Bạn hãy cố gắng uống Juice sớm ngay sau khi nhận
                      hàng, nếu không uống ngay thì phải giữ lạnh. Đặc biệt bạn
                      cần chú ý trong những ngày mùa hè hay thời tiết nóng, khi
                      đó nước ép rất dễ bị hỏng.
                      <br /><br />
                      Hạn sử dụng của mỗi chai Juice được ép theo phương pháp
                      Cold-pressed là 24h-48h VỚI ĐIỀU KIỆN ĐƯỢC BẢO QUẢN TRONG
                      TỦ LẠNH/MÁT. Tại sao lại ngắn vậy?
                      <br /><br />
                      Mọi thành phẩm từ rau củ quả tự nhiên đều vậy thôi! Rau củ
                      quả không có chất bảo quản, bọc sáp, để nguyên vỏ tự nhiên
                      thường sẽ rất mau bị oxy hóa và hỏng. Hơn nữa khi được ép
                      tách chất lỏng khỏi xơ bã. Vitamins, enzymes và khoáng
                      chất cũng sẽ mất dần theo thời gian sử dụng và dễ dàng bị
                      hỏng nếu bảo quản không đúng cách. Do đó, Juichilly luôn
                      khuyến khích bạn sử dụng sản phẩm sớm nhất từ khi nhận
                      được từ Shipper.
                      <br /><br />
                      Juichilly TUYỆT ĐỐI KHÔNG sản xuất công nghiệp, KHÔNG tiệt
                      trùng hay sử dụng chất bảo quản, phụ gia để kéo dài thời
                      gian sử dụng. Chúng mình hiểu rất rõ việc can thiệp sẽ làm
                      mất các enzyme và vitamin quan trọng giúp cơ thể thải độc
                      và nuôi dưỡng. Chúng mình hoàn toàn tin vào nước ép tươi,
                      sống và nguyên chất (raw, fresh, alive juice).
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="heading9">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse9"
                        aria-expanded="false"
                        aria-controls="collapse9"
                      >
                        9. Juice bị phân lớp hoặc có lợn cợn, có sao không vậy?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapse9"
                    class="collapse"
                    aria-labelledby="heading9"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Đây là hiện tượng hoàn toàn bình thường của nước ép. Chất
                      lỏng cùng dinh dưỡng, khoáng chất khi bị phá vỡ cấu trúc
                      tự nhiên (Pressed) dưới dạng lỏng tách khỏi xơ bã, với các
                      thành phần chất khác nhau sẽ tự lắng đọng, phân lớp sau
                      một thời gian.
                      <br /><br />
                      Đôi lúc có thể bạn thấy các lợn cợn của hạt rau củ còn lẫn
                      trong nước ép. Đó là do màng lọc chưa hoàn toàn trong quá
                      trình ép mà thôi. Các mẩu nhỏ còn nguyên xác của nguyên
                      liệu đó hoàn toàn uống được (nhai được) vì đơn giản đó là
                      chất xơ. Các bạn chỉ cần lắc thật kĩ trước mỗi lần uống và
                      yên tâm thưởng thức.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="heading10">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse10"
                        aria-expanded="false"
                        aria-controls="collapse10"
                      >
                        10. Tôi có vấn đề với sức khỏe, vậy có uống được Juice
                        không?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapse10"
                    class="collapse"
                    aria-labelledby="heading10"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Nếu bạn có bất kỳ lưu ý nào về tình trạng sức khỏe hay
                      đang sử dụng thuốc, bạn cần tìm đến sự tư vấn của bác sỹ
                      chuyên môn trước khi làm quen với thực phẩm sống, nước ép
                      lạnh hoặc các chương trình thải độc, juice cleanse
                      <br /><br />
                      PHỤ NỮ MANG THAI VÀ CHO CON BÚ: nước ép lạnh hữu cơ là
                      cách tuyệt vời để giới thiệu chế độ dinh dưỡng nhiều thực
                      vật vào chế độ ăn hàng ngày để bổ sung vitamin và khoáng
                      chất. Tuy nhiên các bạn vẫn nên tư vấn với bác sỹ chuyên
                      khoa trước khi làm quen với chế độ ăn có nước ép lạnh khi
                      đang mang bầu hoặc cho con bú. Thông thường không nên làm
                      các chương trình thải độc và Juice cleanse khi đang mang
                      bầu và cho con bú.
                      <br /><br />
                      TIỂU ĐƯỜNG: nên chọn các loại juice thiên về rau củ và ít
                      hoa quả. Chỉ nên thực hiện các chương trình thải độc và
                      juice cleanse dưới sự giám sát của các bác sỹ chuyên môn.
                      <br /><br />
                      UNG THƯ: nước ép từ nguyên liệu hữu cơ, cùng với chế độ ăn
                      thuần chay, là nguồn dinh dưỡng tuyệt vời đem lại các lợi
                      ích sức khỏe cho những đối tượng đang và sau quá trình
                      điều trị ung thư. Vui lòng tham khảo tư vấn thêm từ các
                      bác sỹ chuyên khoa của bạn.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="heading11">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse11"
                        aria-expanded="false"
                        aria-controls="collapse11"
                      >
                        11. Trẻ con có uống được Juice không?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapse11"
                    class="collapse"
                    aria-labelledby="heading11"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Chắc chắn rồi. Juichilly được ép nguyên chất từ rau củ quả
                      sống, không thêm đường hay bất kỳ thứ gì khác. Nếu con bạn
                      trên 1 tuổi và ăn uống gần như người lớn thì nước ép là
                      lựa chọn tốt hơn rất nhiều so với các món đồ uống hay ăn
                      vặt nhiều đường qua tinh chế.
                      <br /><br />
                      Đây cũng là cách mới mẻ cho các bạn nhỏ lười ăn rau. Bạn
                      có thể thêm nước vào các chai Juice để pha loãng đồ uống
                      nếu muốn vì cơ thể trẻ có thể cần thời gian thích nghi với
                      hàm lượng vitamins đậm đặc trong Juice. Khi các bạn lựa
                      chọn cho con mình uống Juice, bạn hoàn toàn hiểu và chịu
                      trách nhiệm cho lựa chọn của mình.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="heading12">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse12"
                        aria-expanded="false"
                        aria-controls="collapse12"
                      >
                        12. Tại sao nước ép Juichilly lại ‘cao’ hơn các loại
                        trên thị trường?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapse12"
                    class="collapse"
                    aria-labelledby="heading12"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Không phải loại nước ép nào cũng giống nhau! Chắc chắn
                      rồi.
                      <br /><br />
                      Nước ép Juichilly hoàn toàn được ép nguyên chất được làm
                      từ 550gr-900gr rau củ quả tươi gồm các nguyên liệu hữu cơ
                      chọn lọc nhất theo mùa và các trang trại hướng hữu cơ uy
                      tín lâu năm. Tất cả các khâu đều được chăm chút và tỉ mỉ
                      từ việc bảo quản, sơ chế, ép với công nghệ ép lạnh và máy
                      móc hiện đại nhất cùng tất cả tâm huyết của người làm.
                      <br /><br />
                      Juichilly tuyệt đối không thỏa hiệp và nói Không với phụ
                      gia, chất bảo quản, không thêm đường, nước hay bất kì
                      thành phần nào khác. Để hiểu rõ và phân biệt sự khác nhau
                      giữa các loại nước ép. Bạn có thể tham khảo bài viết chi
                      tiết tại đây.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="heading13">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse13"
                        aria-expanded="false"
                        aria-controls="collapse13"
                      >
                        13. Tôi có thể lựa chọn Juice trong Menu không?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapse13"
                    class="collapse"
                    aria-labelledby="heading13"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Hiện tại Juichilly sẽ chủ động các loại Juice giao mỗi
                      ngày tới khách hàng. Thực đơn Juice dự kiến của mỗi tuần
                      sẽ được thông báo đến các bạn vào đầu tuần. Tuy nhiên các
                      bạn có thể lưu ý với chúng mình các sở thích về mùi vị nếu
                      có (VD: Không muốn uống có gừng, nghệ,.. Dị ứng với củ
                      dền, dứa.. Nhiều hay ít vị rau).
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="heading14">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse14"
                        aria-expanded="false"
                        aria-controls="collapse14"
                      >
                        14. Nếu tôi đi vắng và không nhận được Juice thì sao?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapse14"
                    class="collapse"
                    aria-labelledby="heading14"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Không sao cả ^^. Hãy nhớ gọi cho Juichilly để thông báo
                      trước 04:00 PM nếu bạn đi vắng hay không nhận Juice vào
                      ngày hôm sau. Chúng mình sẽ ghi chú trong hệ thống để cộng
                      bù vào gói dịch vụ đang sử dụng.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="heading15">
                    <h5 class="mb-0">
                      <button
                        class="btn collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse15"
                        aria-expanded="false"
                        aria-controls="collapse15"
                      >
                        15. Tôi cần làm gì với chai và túi đựng Juice?
                        <i class="bx bx-chevron-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapse15"
                    class="collapse"
                    aria-labelledby="heading15"
                    data-bs-parent="#accordion"
                  >
                    <div class="card-body">
                      Bạn vui lòng tráng sạch chai và nắp mỗi khi sử dụng xong,
                      đặt chúng trở lại túi của True Juice và gửi lại nhân viên
                      đưa hàng của chúng mình vào lần nhận Juice tiếp theo.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="pb-100 ad-banner">
  <div class="container">
    <app-ad-banner></app-ad-banner>
  </div>
</div>

<div class="pb-100">
  <app-why-jui></app-why-jui>
</div>
