<div class="container-fluid">
  <div class="row banner text-center text-sm-start">
    <div class="col-md-5 offset-md-1 col-sm-12 mt-5rem">
      <h2>Câu chuyện thương hiệu</h2>
      <h3 class="slogan text-light">Juichilly</h3>
      <h3 class="slogan text-light">Lan tỏa điều tốt đẹp</h3>

      <p class="paragraph">
        Chào bạn! Đây không phải là một câu chuyện thương hiệu với một sứ mệnh
        và tầm nhìn lớn lao khi khởi đầu.
      </p>
      <p class="paragraph">
        Chào bạn! Đây không phải là một câu chuyện thương hiệu với một sứ mệnh
        và tầm nhìn lớn lao khi khởi đầu.
      </p>
    </div>
    <div class="col-md-5 offset-md-1 col-sm-12">
      <img src="assets/about/banner.png" alt="" class="img-fluid" width="70%" />
    </div>
  </div>
</div>

<div class="container pt-100">
  <div class="header text-center">
    <h1>Về chúng tôi</h1>
    <div class="sub-header">
      Juichilly hoạt động theo tiêu chí: "Tươi - Sạch - Tự nhiên"
    </div>
  </div>
  <div class="about mt-3 p-5">
    <img src="assets/about/about.png" alt="" class="img-fluid" />
    <div class="about-content mt-5">
      <h4 class="text-light">Sứ mệnh</h4>
      <p class="about-paragraph text-light text-light">
        Juichilly hình thành từ 2013, là một đội ngũ trẻ đam mê ẩm thực và đặc
        biệt luôn có tình yêu mãnh liệt bởi các thức uống, món ăn ngon – an toàn
        từ Trái cây tươi. Chúng tôi mang lại những sản phẩm từ nông sản chất
        lượng, ưu tiên hàng Việt và chỉ sử dụng các loại ngoại nhập từ nhà nhập
        khẩu uy tín nhất để phục vụ khách hàng với giá trị THẬT: chất lượng,
        tươi ngon và an toàn.
      </p>
      <p class="about-paragraph text-light">
        Chúng tôi tự hào là đơn vị uy tín cung cấp trái cây, thức uống đến các
        công ty, văn phòng, gia đình mỗi ngày. Sản phẩm chủ lực: Nước trái cây
        nguyên chất phục vụ nhu cầu thiết đãi, hội họp, event. Dòng sản phẩm
        nước trái cây tươi đáp ứng nhu cầu giải khát lành mạnh.
      </p>
      <p class="about-paragraph text-light">
        Mỗi khi có chị khách đặt hàng với những lời khích lệ “Đối tác bên chị
        toàn người nước ngoài rất thích đồ uống Việt mình, chị chỉ đặt bên em”
        là chúng tôi phổng phao cả mặt mũi, vui lắm. Chúng tôi muốn giới thiệu
        những đặc sản, tinh hoa của mọi vùng miền Việt Nam, muốn mọi người biết
        đến nông nghiệp Việt Nam đã có nhiều cải tiến sáng tạo, những người trẻ
        đầy tâm huyết, làm việc với tinh thần cao với chung ước mơ xây dựng nông
        nghiệp bền vững.
      </p>
      <p class="about-paragraph text-light">
        Song song đó, chúng tôi muốn việc mình làm gần hơn, thiết thực hơn bằng
        cách phân phối nước trái cây Việt đến chính người tiêu dùng Việt.
        Juichilly đã và đang xây dựng hệ thống quản lý để phần nào giải quyết
        chuỗi cung ứng chặc chẽ, giảm thiểu chi phí vận hành, để cùng chung tay,
        đưa sản phẩm nông nghiệp bền vững, an toàn đến khách hàng với giá cả hợp
        lý nhất.
      </p>
      <p class="about-paragraph text-light">
        Juichilly hoạt động dưới sự quản lý của Công ty TNHH Juichilly.
      </p>
      <p class="about-paragraph text-light">
        Địa chỉ công ty: 120 Xuân Thủy, Cầu Giấy, HN.
      </p>
      <p class="about-paragraph text-light">
        Cửa hàng: 120 Xuân Thủy, Cầu Giấy, TP Hà Nội.
      </p>
      <p class="about-paragraph text-light">
        Giấy chứng nhận cơ sở đủ điều kiện an toàn thực phẩm số:
        1384/2016/ATTP-CNĐK
      </p>
      <h4 class="text-light">Tầm nhìn</h4>
      <p class="about-paragraph text-light">
        Trở thành thương hiệu vững mạnh, chuyên nghiệp về trái cây, thực hiện
        được song song với hai hình thức:
      </p>
      <ol class="about-paragraph text-light">
        <li>Phục vụ thức uống, món ăn chuyên nghiệp từ trái cây tươi</li>
        <li>Cung cấp trái cây vườn an toàn giá hợp lý đến khách hàng.</li>
      </ol>
      <h4 class="text-light">Giá trị cốt lõi</h4>
      <p class="about-paragraph text-light">
        Trách nhiệm: Juichilly luôn hướng đến sức khỏe cộng đồng, khách hàng như
        những người thân yêu trong gia đình và xung quanh chúng tôi. Quan tâm
        môi trường sống, góp phần đẩy lùi thực phẩm không rõ nguồn gốc và nguy
        hại đến sức khỏe.
      </p>
      <p class="about-paragraph text-light">
        Lấy cảm hứng từ nguồn trái cây tươi của miền nam Việt Nam nói chung và
        một số tỉnh thành lân cận nói riêng, Juichilly quan tâm và ủng hộ nông
        sản Việt an toàn. Hiện chúng tôi sử dụng hầu hết trái cây an toàn, góp
        phần cải tiến trong nông nghiệp Việt bền vững.
      </p>
      <h4 class="text-light">Nguyên tắc hoạt động</h4>
      <p class="about-paragraph text-light">
        Trung thực, thẳng thắng trong tất cả thông tin, sản phẩm chúng tôi mang
        lại. Tự tin, sáng tạo, không ngừng học hỏi, luôn lắng nghe và sẵn sàng
        đem đến những trải nghiệm tốt nhất cho khách hàng và những người bạn,
        đối tác đồng hành cùng Juichilly.
      </p>
    </div>
  </div>
</div>

<div class="container mt-5 pb-100">
  <div class="header text-center">
    <h1>Về Juichilly</h1>
  </div>
  <h4>Mối "Duyên" với nước ép và sự thay đổi mãi mãi</h4>
  <p>
    Ngay lúc bế tắc, nghi ngại vào những điều mình đang làm, đang sống. Mình
    tình cờ biết đến nước ép. Một mối Duyên đã thay đổi cả cuộc sống của mình về
    sau.
  </p>
  <p>
    Nước ép đó không phải loại mua ở ngoài phố. Không phải những chai đóng sẵn
    tẻ nhạt trên các quầy kệ. Mà là thứ nước ép thật nhất, tươi rói từ cái máy
    ép ly tâm cũ kỹ mà mẹ cho mượn, không thêm gì khác. Với mình khi đó là cả
    một trải nghiệm kì lạ, đầy tò mò thích thú với nước ép khi mình khám phá một
    thế giới khác về mùi vị và màu sắc.
  </p>
  <p>
    Mình thực sự bất ngờ về những loại rau, củ quả mà hàng ngày vẫn nấu canh,
    xào nấu, khi ép và mixed với nhau lại có thể tuyệt vời đến thế. Đó cái là
    cảm giác giống như các nhà khoa học khi tạo ra thứ gì đó mới mẻ trong phòng
    thí nghiệm ấy. Đến bây giờ, mình vẫn còn nhớ như in cảm giác tươi mới, mát
    mẻ đầy sức sống khi thử một cốc nước ép rau trong căn bếp của mẹ ngày đó.
  </p>
  <p>
    Sau hàng trăm giờ cắt gọt, ép thử, căn bếp nhem nhuốc các vụn rau quả nhiều
    màu, cứ như bọn trẻ con nghịch tẩn mẩn hộp bút sáp màu. Nhưng đó cũng là
    những ngày tháng mình tìm thấy những niềm vui đơn giản như thế. Quyết định
    nghỉ việc ngày đó chẳng tính toán gì nhiều. Sống đơn giản, viết blog, chia
    sẻ nhiều hơn với những người xunh quanh.
  </p>
  <h4 class="best-things">
    Điều tuyệt vời nhất là chứng kiến sự thay đổi trong cuộc sống của những
    người khác
  </h4>
  <p>
    Càng đọc, càng tìm hiểu, lại thấy chân trời được mở rộng. Trên thế giới đã
    có hàng chục nghìn người được chữa lành nhờ những phương pháp chăm sóc và
    trị liệu tự nhiên từ nước ép nguyên chất. Và điều này hoàn toàn khoa học.
  </p>
  <p>
    Khi cuộc sống bận rộn, vị giác dần quen với những thực phẩm tiện lợi, tinh
    chế với nhiều gia vị và phụ gia thêm vào. Trong khi đó rau xanh, củ và trái
    cây tươi ‘sống’ – thực phẩm giàu dinh dưỡng nhất tự nhiên, giàu năng lượng
    từ mặt trời nhất, giúp cơ thể hoạt động tốt nhất. Tuy nhiên ăn rau quả sống
    không phải là một thói quen phổ biến với chúng ta. Và chính việc mixed và
    làm thành nước ép sẽ khiến cơ thể chúng ta hấp thu được lượng vitamins, chất
    khoáng và các enzymes thiết yếu một cách nhanh nhất. Hiệu quả nhất cùng với
    sự ngon lành, tươi mát.
  </p>
  <div class="row example position-relative">
    <div class="example-content">
      <div class="image-1 position-absolute">
        <img src="assets/about/jui-1.png" alt="" width="350px" />
      </div>
      <div class="image-2 position-absolute">
        <img src="assets/about/jui-2.png" alt="" width="450px" />
      </div>
      <div class="image-3 position-absolute">
        <img src="assets/about/jui-3.png" alt="" width="250px" />
      </div>
      <div class="col-sm-6 desc text-center position-absolute">
        Cứ thử tượng tượng bạn có thể ăn 1.5kg hoa quả và rau mỗi ngày không?
        Chắc là không, nhưng bạn hoàn toàn làm được khi mixed và ép, uống chúng
        chỉ trong vài phút.
      </div>
    </div>
  </div>
  <p class="mt-3">
    Và một điều thú vị nhất trong hành trình của mình, kể từ khi bén duyên với
    Juice, hình thành và duy trì thói quen uống nước ép mỗi sáng. Cuộc sống như
    dẫn mình đến với những điều tốt đẹp hơn. Với những con người mới, những
    người yêu mến và được truyền cảm hứng từ hành trình Juice của mình. Nhận
    được nhiều lời cảm ơn và chứng kiến những sự thay đổi trong cuộc sống của
    những người khác. Sự tích cực, lạc quan và chữa lành cũng giống như cách
    nước ép đã đem đến cho mình.
  </p>
  <h4>Và giờ đây, Juichilly không còn là câu chuyện của riêng mình</h4>
  <p class="mb-0">
    Juichilly bây giờ không còn là câu chuyện của riêng mình, đó là câu chuyện
    của hàng nghìn khách hàng yêu mến và trân trọng mỗi chai nước ép thật -
    chất, tử tế đồng hành xây dựng thói quen tốt lành mỗi sáng. Là câu chuyện
    của những người trẻ đầy đam mê hoài bão. Một cô bartender tay ngang đến với
    Juichilly, một anh IT công nghệ đã hoàn toàn thay đổi về lối sống, một cô
    gái bé nhỏ nhưng đầy nghị lực và quyết tâm mạnh mẽ, cô sản xuất U50 cẩn thận
    trong từng kẽ rau, bẹ lá… Dù mỗi người có một khởi điểm khác nhau, nhưng
    chúng tôi có cùng một ước muốn và sứ mệnh đồng hành, giúp cho nhiều người
    sống khỏe mạnh và sống tích cực hơn mỗi ngày.
  </p>

  <h3 class="text-center mt-5 thanks">
    Cảm ơn bạn đã đồng hành cùng sứ mệnh của Juichilly!
  </h3>
</div>
