.mt-5rem {
  margin-top: 5rem;
}

.banner {
  background-color: #ffb180 !important;
}

h1 {
  color: #e2702b;
}

h2 {
  font-size: 3rem;
  color: #d23131;
}

.paragraph {
  color: #ffffbf;
}

.about {
  background-color: #eda49e;
}

.banner p {
  font-size: 1.5rem;
}

.sub-header {
  color: #c75112;
}

.best-things {
  color: #2d892d;
}

.example-content {
  background-color: #ecf5e5;
  height: 20rem;
  margin-top: 180px;
}

.image-1 {
  left: 14rem;
  top: 0;
}

.image-2 {
  left: 30rem;
  top: 5rem;
}

.image-3 {
  left: 50rem;
  top: 0rem;
}

.desc {
  bottom: 1rem;
  left: 19rem;
}

@media (max-width: 576px) {
  .about.p-5 {
    padding: 1rem !important;
  }

  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .banner p {
    font-size: 1.125rem;
  }

  .mt-5rem {
    margin-top: 1rem !important;
  }
}
