<div class="container">
  <div class="row text-center">
    <div class="col-md-4">
      <img
        src="/assets/images/lime.png"
        alt=""
        class="img-fluid mb-20"
        width="70%"
      />
      <h5 class="cl-green product-title m-0">Cam Chanh</h5>
      <div class="short-description cl-green">+ Tăng cường sức đề kháng</div>
      <div class="star mb-10">
        <i class="bx bxs-star cl-green"></i>
        <i class="bx bxs-star cl-green"></i>
        <i class="bx bxs-star cl-green"></i>
        <i class="bx bxs-star cl-green"></i>
        <i class="bx bxs-star cl-green"></i>
        <span class="cl-green ml-5">(81 đánh giá)</span>
      </div>
      <div class="btn btn-radius btn-green text-light mb-10">
        Thêm vào giỏ - 60.000 đ
      </div>
      <div class="add-cart">
        <i
          class="bx bxs-minus-circle bx-flip-vertical"
          style="color: #79b152"
        ></i>
        <span class="px-3">1</span>
        <i
          class="bx bxs-plus-circle bx-flip-vertical"
          style="color: #79b152"
        ></i>
      </div>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/images/oranges.png"
        alt=""
        class="img-fluid mb-20"
        width="70%"
      />
      <h5 class="cl-orange-light product-title m-0">Cam</h5>
      <div class="short-description cl-orange-light">+ Bổ sung Vitamin</div>
      <div class="star mb-10">
        <i class="bx bxs-star cl-orange-light"></i>
        <i class="bx bxs-star cl-orange-light"></i>
        <i class="bx bxs-star cl-orange-light"></i>
        <i class="bx bxs-star cl-orange-light"></i>
        <i class="bx bxs-star cl-orange-light"></i>
        <span class="cl-orange-light ml-5">(23 đánh giá)</span>
      </div>
      <div class="btn btn-radius btn-orange-light text-light mb-10">
        Thêm vào giỏ - 60.000 đ
      </div>
      <div class="add-cart">
        <i
          class="bx bxs-minus-circle bx-flip-vertical"
          style="color: #f68c29"
        ></i>
        <span class="px-3">1</span>
        <i
          class="bx bxs-plus-circle bx-flip-vertical"
          style="color: #f68c29"
        ></i>
      </div>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/images/mix.png"
        alt=""
        class="img-fluid mb-20"
        width="70%"
      />
      <h5 class="cl-green-dark product-title m-0">Hoa quả tổng hợp</h5>
      <div class="short-description cl-green-dark">+ Bổ sung Vitamin</div>
      <div class="star mb-10">
        <i class="bx bxs-star cl-green-dark"></i>
        <i class="bx bxs-star cl-green-dark"></i>
        <i class="bx bxs-star cl-green-dark"></i>
        <i class="bx bxs-star cl-green-dark"></i>
        <i class="bx bxs-star cl-green-dark"></i>
        <span class="cl-green-dark ml-5">(7 đánh giá)</span>
      </div>
      <div class="btn btn-radius btn-green-dark text-light mb-10">
        Thêm vào giỏ - 60.000 đ
      </div>
      <div class="add-cart">
        <i
          class="bx bxs-minus-circle bx-flip-vertical"
          style="color: #4c7838"
        ></i>
        <span class="px-3">1</span>
        <i
          class="bx bxs-plus-circle bx-flip-vertical"
          style="color: #4c7838"
        ></i>
      </div>
    </div>
  </div>
</div>
