<nav class="navbar navbar-expand-lg navbar-orange-light">
  <div class="container-fluid">
    <a class="navbar-brand mx-4" [routerLink]="'/home'">
      <img
        src="assets/Juichilly-logo.png"
        alt=""
        class="img-fluid d-inline-block align-text-top"
        width="90"
      />
    </a>

    <i
      class="bx bx-menu d-block d-lg-none"
      (click)="showMobileMenu = true"
      style="
        font-size: 1.5rem;
        color: var(--orange-light);
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: right;
      "
    ></i>

    <div class="collapse navbar-collapse" id="navberHeader">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <div class="nav-link active" [routerLink]="'/home'">Trang chủ</div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sản phẩm
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item cl-pink" [routerLink]="'/product'"
                >Sản phẩm</a
              >
            </li>
            <li>
              <a class="dropdown-item cl-pink" [routerLink]="'/best-product'"
                >Sản phẩm nổi bật</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Về chúng tôi
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item cl-pink" [routerLink]="'/about'"
                >Về chúng tôi</a
              >
            </li>
            <li>
              <a class="dropdown-item cl-pink" [routerLink]="'/member'"
                >Đội ngũ</a
              >
            </li>
            <li>
              <a class="dropdown-item cl-pink" [routerLink]="'/member/daniel'"
                >Đội ngũ chi tiết</a
              >
            </li>
            <li>
              <a class="dropdown-item cl-pink" [routerLink]="'/collection'"
                >Bộ sưu tập</a
              >
            </li>
            <li>
              <a class="dropdown-item cl-pink" [routerLink]="'/privacy'"
                >Điều khoản & dịch vụ!</a
              >
            </li>
            <li>
              <a class="dropdown-item cl-pink" [routerLink]="'/stop-plastic'"
                >Stop plastic</a
              >
            </li>
            <li>
              <a class="dropdown-item cl-pink" [routerLink]="'/404'"
                >Error page 404</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <div class="nav-link" [routerLink]="'/blog'">Blog</div>
        </li>
        <li class="nav-item">
          <div class="nav-link" [routerLink]="'/promotion'">Khuyến mãi</div>
        </li>
        <li class="nav-item">
          <div class="nav-link" [routerLink]="'/faq'">FAQS</div>
        </li>
        <li class="nav-item">
          <button
            class="btn btn-radius btn-contact text-light mt-1"
            type="button"
            [routerLink]="'/contact'"
          >
            Liên hệ
          </button>
        </li>
      </ul>
    </div>

    <div
      class="mobile-menu-wrapper d-block d-lg-none"
      [ngClass]="{ show: showMobileMenu }"
    >
      <i class="bx bx-x" (click)="showMobileMenu = false"></i>
      <div class="main-menu">
        <div
          class="menu-item"
          [routerLink]="['/home']"
          (click)="showMobileMenu = false"
        >
          <i class="bx bx-home"></i>
          <span>Trang chủ</span>
        </div>

        <div id="accordion">
          <div class="card menu-item">
            <div class="card-header p-0" id="headingOne">
              <h5 class="mb-0">
                <button
                  class="btn p-0"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  <div>
                    <i class="bx bx-store-alt"></i>
                    <span>Sản phẩm</span>
                  </div>
                  <i class="bx bx-chevron-down me-0"></i>
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordion"
            >
              <div class="card-body p-0">
                <ul class="mobile-menu__dropdown">
                  <li
                    [routerLink]="['/product']"
                    (click)="showMobileMenu = false"
                  >
                    Sản phẩm
                  </li>
                  <li
                    [routerLink]="['/best-product']"
                    (click)="showMobileMenu = false"
                  >
                    Sản phẩm nổi bật
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card menu-item">
            <div class="card-header p-0" id="headingTwo">
              <h5 class="mb-0">
                <button
                  class="btn p-0"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="true"
                  aria-controls="collapseTwo"
                >
                  <div>
                    <i class="bx bx-user"></i>
                    <span>Về chúng tôi</span>
                  </div>
                  <i class="bx bx-chevron-down me-0"></i>
                </button>
              </h5>
            </div>

            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordion"
            >
              <div class="card-body p-0">
                <ul class="mobile-menu__dropdown">
                  <li
                    [routerLink]="['/about']"
                    (click)="showMobileMenu = false"
                  >
                    Về chúng tôi
                  </li>
                  <li
                    [routerLink]="['/member']"
                    (click)="showMobileMenu = false"
                  >
                    Đội ngũ
                  </li>
                  <li
                    [routerLink]="['/member/daniel']"
                    (click)="showMobileMenu = false"
                  >
                    Đội ngũ chi tiết
                  </li>
                  <li
                    [routerLink]="['/collection']"
                    (click)="showMobileMenu = false"
                  >
                    Bộ sưu tập
                  </li>
                  <li
                    [routerLink]="['/privacy']"
                    (click)="showMobileMenu = false"
                  >
                    Điều khoản và dịch vụ
                  </li>
                  <li
                    [routerLink]="['/stop-plastic']"
                    (click)="showMobileMenu = false"
                  >
                    Stop plastic
                  </li>
                  <li [routerLink]="['/404']" (click)="showMobileMenu = false">
                    Erro Page 404
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div
          class="menu-item"
          [routerLink]="['/blog']"
          (click)="showMobileMenu = false"
        >
          <i class="bx bx-news"></i>
          <span>Blog</span>
        </div>

        <div
          class="menu-item"
          [routerLink]="['/promotion']"
          (click)="showMobileMenu = false"
        >
          <i class="bx bx-purchase-tag"></i>
          <span>Khuyễn mãi</span>
        </div>

        <div
          class="menu-item"
          [routerLink]="['/faq']"
          (click)="showMobileMenu = false"
        >
          <i class="bx bx-question-mark"></i>
          <span>FAQs</span>
        </div>
      </div>
    </div>
  </div>
</nav>
