.navbar-orange-light {
  background-color: #FCF2EF;
}

.nav-link {
  color: #FA7C43 !important;
  margin-right: 2rem !important;
  font-size: 20px;
}

.nav-item:hover {
  cursor: pointer;
}

.btn-contact {
  background-color:#F99F33;
  padding: 0.375rem 1.25rem;
  margin-right: 2rem;
  font-size: 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
  cursor: pointer;
  color: blue
}

.dropdown-menu {}