/* style side bar on the right */
.search-box {
  position: relative;
  margin-bottom: 2rem;
}

.search-box input {
  width: 100%;
  height: 50px;
  padding: 1rem 1.5rem;
}

.search-box i {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.categories {
  padding: 1rem 1.5rem;
  border: 1px solid #707070;
}
.categories p {
  margin-bottom: 0;
}
