.btn-orange {
  background-color:#F99F33
}

.cl-orange {
  color: #F99F33
}

.bx {
  font-size: 20px;
  margin-right: 10px !important
}

.right-item {
  position: relative;
  right: 0;
  top: 0;
}

.banner-info {
  margin-top: 5rem;
}

.banner>* {
  padding-right: 0 !important
}

.jumbotron-fluid {
  background-color: rgba(122, 118, 118, 0.09);
}

.intro {
  margin-top:5rem
}