<div class="container-fluid">
  <div class="position-relative">
    <div class="row mb-5 banner">
      <div class="col-md-5 offset-md-1 col-sm-5 align-self-center">
        <div>
          <h1 class="cl-orange">Sophia Clark</h1>
          <p class="banner-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus
            culpa animi, similique iste iusto sed cupiditate deserunt eveniet
            temporibus. Dolores.
          </p>
          <button class="btn btn-orange text-light">
            <span class="icon"
              ><i class="bx bx-phone" style="color: #ffffff"></i></span
            >Liên hệ
          </button>
        </div>
      </div>
      <div class="col-md-6 right-item text-end">
        <img
          src="assets/member-detail/Group-764.png"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-5">
  <div class="container pb-5">
    <div class="row text-center text-sm-start">
      <div class="col-md-6 col-sm-6 offset-lg-1 align-self-center">
        <h5 class="cl-orange mb-0">Giới thiệu</h5>
        <h1>Về Tôi</h1>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
          nostrum, voluptatem ratione sequi possimus quo sapiente maiores dolor,
          modi molestiae aspernatur iste. Earum eum provident, magni ex ratione
          suscipit ab.
        </p>
      </div>
      <div class="col-md-5 col-sm-4 pt-md-5">
        <img
          src="assets/member-detail/galery-8.png"
          alt=""
          class="img-fluid"
          width="80%"
        />
      </div>
    </div>
  </div>
</div>

<section class="why-jui pb-100">
  <app-why-jui></app-why-jui>
</section>
