<div class="container-fluid">
  <div class="position-relative">
    <div class="row mb-5 banner">
      <div
        class="
          col-md-5
          offset-md-1
          col-xs-5
          offset-xs-1
          col-sm-5
          offset-sm-1
          banner-info
        "
      >
        <h1 class="cl-orange">Sophia Clark</h1>
        <p class="banner-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
          molestiae pariatur quaerat
        </p>
        <button class="btn btn-orange text-light">
          <span class="icon"
            ><i class="bx bx-phone" style="color: #ffffff"></i></span
          >Liên hệ
        </button>
      </div>
      <div class="col-md-4 offset-md-2 col-xs-4">
        <img
          src="assets/member-detail/Group-764.png"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

.
<div class="jumbotron jumbotron-fluid mb-5">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 intro">
        <div class="cl-orange">Giới thiệu</div>
        <h1>Về Tôi</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
          nostrum, voluptatem ratione sequi possimus quo sapiente maiores dolor,
          modi molestiae aspernatur iste. Earum eum provident, magni ex ratione
          suscipit ab.
        </p>
      </div>
      <div class="col-md-5 offset-md-1">
        <img
          src="assets/member-detail/galery-8.png"
          alt=""
          class="img-fluid"
          width="80%"
        />
      </div>
    </div>
  </div>
</div>

<section class="why-jui pb-100">
  <app-why-jui></app-why-jui>
</section>
