<app-top-banner
  [bannerTitle]="'Juice'"
  [heroImgUrl]="'assets/top-banner-images/orange-hero-img.png'"
  [heroImgPosition]="'top'"
></app-top-banner>
<div class="container mt-100">
  <div class="row text-center">
    <div class="col-md-12">
      <h2 class="cl-orange-light">Sản phẩm</h2>
      <h1>Hương vị yêu thích của bạn</h1>
    </div>

    <div class="col-md-4" *ngFor="let product of products">
      <app-products-rect [product]="product"></app-products-rect>
    </div>
    <div class="col-md-4 offset-md-1" *ngFor="let product of products2">
      <app-products-rect [product]="product"></app-products-rect>
    </div>
  </div>
  <div class="row mt-100 mb-100">
    <div class="col-md-8 w-90 image-banner position-relative p-0">
      <img src="assets/product-list/salebanner.png" alt="" class="img-fluid" />
      <div class="position-absolute banner-content text-center">
        <h1 class="sale-10 text-light m-0">Giảm giá 10%</h1>
      </div>
    </div>
    <div class="col-md-3 offset-md-1 mt-50">
      <h5>Hàng mới về : Giảm giá 10%</h5>
      <div class="line-break mt-40">
        <hr />
      </div>
      <i
        *ngFor="let star of [1, 2, 3, 4, 5]"
        class="bx bxs-star"
        style="color: #f68c29"
      ></i>
      <h5 class="product-weight">Khối lượng: 1L</h5>
      <div class="product-price">
        <span class="text-dark">50.000 đ</span>
        <span class="old-price">60.000 đ</span>
      </div>
      <p class="mt-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dignissimos
        beatae debitis
      </p>
      <button class="btn btn-radius text-light" style="background-color: #F99F33">
        <span><i class='bx bxs-cart-alt' style='color:#ffffff' ></i></span> Mua hàng
      </button>
    </div>
  </div>
  <div class="row mb-100">
    <div class="col-md-8 p-0">
      <app-products-square></app-products-square>
    </div>
    <div class="col-md-3 offset-md-1 mt-20">
      <h5>Sản phẩm đặc biệt từ Juichilly</h5>
      <div class="line-break mt-40">
        <hr />
      </div>
      <i
        *ngFor="let star of [1, 2, 3, 4, 5]"
        class="bx bxs-star"
        style="color: #f68c29"
      ></i>
      <h5 class="product-weight">Khối lượng: 1L</h5>
      <div class="product-price">
        <span class="text-dark">50.000 đ</span>
        <span class="old-price">60.000 đ</span>
      </div>
      <p class="mt-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dignissimos
        beatae debitis
      </p>
      <button class="btn btn-radius text-light" style="background-color: #F99F33">
        <span><i class='bx bxs-cart-alt' style='color:#ffffff' ></i></span> Mua hàng
      </button>
    </div>
  </div>
</div>
