hr {
  border: 1px solid #f68c29;
  margin: 0.5rem 0;
}
.line-break {
  width: 60%;
}

.mt-13 {
  margin-top: 13rem;
}

.form-control {
  border-radius: 0.75rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.form-content {
  border-radius: 0.75rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.btn-orange {
  background-color: #f99f33;
}

.cl-orange {
  color: #f99f33;
}

.cl-success {
  color: #ff6200;
}

.cl-back {
  color: #5799f2;
}

.cl-back:hover {
  cursor: pointer;
}

.contact-content {
  border-radius: 0.75rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background-color: #faf7f7;
}

h4 {
  color: #ff0000;
}
@media (max-width: 576px) {
  .message {
    order: 2;
  }
  .contactform {
    order: 1;
  }

  .mt-13 {
    margin-top: 2rem;
  }
}
