<app-top-banner
  [bannerTitle]="'Đội ngũ'"
  [heroImgUrl]="'assets/top-banner-images/orange-hero-img.png'"
  [heroImgPosition]="'top'"
></app-top-banner>

<div class="container">
  <div class="row m-8rem">
    <div class="col-md-3 side-card p-4">
      <h2>Ceo & Founder</h2>
      <div class="line-break">
        <hr />
      </div>
      <div class="overal">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3 card p-0">
          <img src="assets/members/ceo-1.png" class="card-img-top" alt="ceo" />
          <div class="card-body text-center">
            <h4 class="card-title">Đàm Yến Linh</h4>
            <div class="card-sub-title">CEO & Founder</div>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
            <div class="line-break">
              <hr />
            </div>
            <div class="social-media">
              <i class="bx bxl-facebook" style='margin-left: 2rem'></i>
              <i class="bx bxl-twitter"></i>
              <i class="bx bxl-instagram"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 card p-0">
          <img src="assets/members/ceo-2.png" class="card-img-top" alt="ceo" />
          <div class="card-body text-center">
            <h4 class="card-title">Trezia Doe</h4>
            <div class="card-sub-title">CEO & Founder</div>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
            <div class="line-break">
              <hr />
            </div>
            <div class="social-media">
              <i class="bx bxl-facebook" style='margin-left: 2rem'></i>
              <i class="bx bxl-twitter"></i>
              <i class="bx bxl-instagram"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-8rem">
    <div class="col-md-3 side-card p-4">
      <h2>Ceo & Founder</h2>
      <div class="line-break">
        <hr />
      </div>
      <div class="overal">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3 card p-0">
          <img src="assets/members/ceo-5.png" class="card-img-top" alt="ceo" />
          <div class="card-body text-center">
            <h4 class="card-title">Angela Freeze</h4>
            <div class="card-sub-title">Social Marketing</div>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
            <div class="line-break">
              <hr />
            </div>
            <div class="social-media">
              <i class="bx bxl-facebook" style='margin-left: 2rem'></i>
              <i class="bx bxl-twitter"></i>
              <i class="bx bxl-instagram"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 card p-0">
          <img src="assets/members/ceo-3.png" class="card-img-top" alt="ceo" />
          <div class="card-body text-center">
            <h4 class="card-title">Grizham Steel</h4>
            <div class="card-sub-title">Franchise</div>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
            <div class="line-break">
              <hr />
            </div>
            <div class="social-media">
              <i class="bx bxl-facebook" style='margin-left: 2rem'></i>
              <i class="bx bxl-twitter"></i>
              <i class="bx bxl-instagram"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 card p-0">
          <img src="assets/members/ceo-4.png" class="card-img-top" alt="ceo" />
          <div class="card-body text-center">
            <h4 class="card-title">Chayton Eagle</h4>
            <div class="card-sub-title">Store Leader</div>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
            <div class="line-break">
              <hr />
            </div>
            <div class="social-media">
              <i class="bx bxl-facebook" style='margin-left: 2rem'></i>
              <i class="bx bxl-twitter"></i>
              <i class="bx bxl-instagram"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <app-ad-banner></app-ad-banner>
  </div>
</div>

