<!-- <app-top-banner
  [bannerTitle]="'Đối tác'"
  [heroImgUrl]="'../../assets/partners/partner-hero-img.png'"
  [heroImgPosition]="'bottom'"
></app-top-banner> -->

<section class="top-banner-wrapper">
  <div class="container h-100">
    <h1>Đối tác</h1>
    <img
      src="../../assets/partners/partner-hero-img.png"
      alt="Đối tác"
      class="bottom"
    />
  </div>
</section>

<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero-image pt-100 pb-100">
          <img
            src="../../assets/partners/partner-oranges.jpg"
            class="img-fluid"
          />
        </div>
      </div>
    </div>

    <div class="row pb-100">
      <div class="col-12">
        <h1 class="section-title">Nhượng quyền thương mại</h1>
        <h2 class="sub-title mb-4">Trở thành đối tác</h2>
      </div>

      <div class="col-lg-8">
        <div class="left-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna
            molestie at elementum eu facilisis sed odio morbi quis. Consectetur
            adipiscing elit pellentesque habitant morbi tristique senectus.
            Varius morbi enim nunc faucibus a. Ut aliquam purus sit amet luctus
            venenatis lectus magna fringilla. Eget sit amet tellus cras. Nibh
            nisl condimentum id venenatis a condimentum vitae sapien
            pellentesque. Felis imperdiet proin fermentum leo vel. Faucibus
            pulvinar elementum integer enim neque volutpat ac. Ac tortor vitae
            purus faucibus ornare. Amet consectetur adipiscing elit duis. Nisi
            vitae suscipit tellus mauris a diam maecenas sed. Quis auctor elit
            sed vulputate mi sit amet mauris commodo.
          </p>

          <p>
            Praesent semper feugiat nibh sed pulvinar. Neque sodales ut etiam
            sit amet. Eu lobortis elementum nibh tellus molestie nunc non
            blandit. Lectus nulla at volutpat diam ut venenatis tellus. Ac
            turpis egestas maecenas pharetra convallis posuere morbi. Nibh
            tellus molestie nunc non blandit. Massa sed elementum tempus
            egestas. Consectetur libero id faucibus nisl tincidunt eget nullam
            non. Egestas purus viverra accumsan in. Varius quam quisque id diam
            vel. Non enim praesent elementum facilisis leo vel. Posuere lorem
            ipsum dolor sit. Malesuada proin libero nunc consequat interdum
            varius. Purus faucibus ornare suspendisse sed nisi.
          </p>

          <p>
            Aliquet nibh praesent tristique magna sit. Neque gravida in
            fermentum et sollicitudin ac orci phasellus. Nulla aliquet porttitor
            lacus luctus accumsan tortor posuere. Ut aliquam purus sit amet
            luctus. Risus at ultrices mi tempus imperdiet nulla malesuada
            pellentesque elit. Velit aliquet sagittis id consectetur purus ut.
            Mauris pellentesque pulvinar pellentesque habitant. Volutpat sed
            cras ornare arcu dui. Et leo duis ut diam quam nulla porttitor
            massa. Elementum curabitur vitae nunc sed velit dignissim.
          </p>

          <p>
            Feugiat pretium nibh ipsum consequat nisl. Elementum eu facilisis
            sed odio morbi quis. Ac tortor vitae purus faucibus ornare
            suspendisse. Lacus sed viverra tellus in hac. Curabitur vitae nunc
            sed velit dignissim. Aliquet eget sit amet tellus cras adipiscing
            enim eu. Rutrum tellus pellentesque eu tincidunt tortor aliquam
            nulla. Elementum eu facilisis sed odio morbi quis commodo odio
            aenean. Tempor orci eu lobortis elementum nibh. Leo vel fringilla
            est ullamcorper eget nulla facilisi etiam. Ut etiam sit amet nisl
            purus in mollis. Magna fermentum iaculis eu non. Sed pulvinar proin
            gravida hendrerit. Purus gravida quis blandit turpis cursus in hac
            habitasse platea. A pellentesque sit amet porttitor eget dolor
            morbi. Eget sit amet tellus cras.
          </p>
        </div>

        <div class="right-content"></div>
      </div>

      <div class="col-lg-4">
        <div class="right-content">
          <h3 class="sub-title">Download Chính sách</h3>
          <div class="contact-info">
            <div class="block-info">
              <i class="bx bx-map"></i>
              <span>120 Xuân Thủy, Cầu Giấy, Hà Nội</span>
            </div>

            <div class="block-info">
              <i class="bx bx-time-five"></i> <span>Mở cửa từ 7AM - 10PM</span>
            </div>

            <div class="block-info">
              <i class="bx bxl-whatsapp"></i> <span>097 111 2222</span>
            </div>

            <div class="block-info mb-0">
              <i class="bx bx-mail-send"></i>
              <span>Juichilly.vn@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
