h1.page-title {
  width: min(800px, 100%);
  margin-inline: auto;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  color: var(--orange-light);
}

.promo {
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.promo:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.promo .promo-thumbnail img {
  width: 200px;
}

.promo .promo-title {
  padding-left: 2rem;
  align-self: center;
}

.promo .promo-title h4 {
  cursor: pointer;
  color: #2d8326;
  margin-bottom: 1rem;
}

.promo .promo-title p {
  margin-bottom: 0.5rem;
}

/* style top-banner */
.top-banner-wrapper {
  background-color: var(--orange-light);
  position: relative;
  height: 320px;
}

.top-banner-wrapper h1 {
  color: white;
  line-height: 100%;
  padding-left: 6rem;
  width: 50%;
  text-align: center;
  font-size: 5rem !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.top-banner-wrapper img {
  width: 500px;
  position: absolute;
}

.top-banner-wrapper img.top {
  top: 0;
  right: 0;
}

.top-banner-wrapper img.bottom {
  bottom: 0;
  right: 0;
}

@media (max-width: 1500px) {
  .top-banner-wrapper img {
    width: 500px;
    position: absolute;
  }
}

@media (max-width: 576px) {
  .promo .promo-thumbnail {
    align-self: center;
  }

  .promo .promo-thumbnail img {
    width: 100px;
  }

  .promo .promo-title {
    padding-left: 1rem;
  }

  h1.page-title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  .top-banner-wrapper {
    height: 120px;
  }

  .top-banner-wrapper img {
    width: 45%;
  }

  .top-banner-wrapper h1 {
    width: 100%;
    padding-left: 1rem;
    font-size: 2rem !important;
    justify-content: flex-start;
  }
}
