<!-- <app-top-banner
  [bannerTitle]="'Khuyễn mãi'"
  [heroImgUrl]="'../../assets/promotion/promotion-hero-img.png'"
  [heroImgPosition]="'bottom'"
  [bannerHeight]="530"
></app-top-banner> -->

<section class="top-banner-wrapper">
  <h1>Khuyến mãi</h1>
  <img
    src="../../assets/promotion/promotion-hero-img.png"
    alt="Khuyễn mãi"
    class="bottom"
  />
</section>

<section class="promo-list pt-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="text-center page-title">
          Chương trình khuyến mãi tại Juichilly
        </h1>

        <ng-container *ngFor="let promotion of promoData">
          <ng-container
            [ngTemplateOutlet]="promo"
            [ngTemplateOutletContext]="{
              title: promotion.title,
              thumbUrl: promotion.thumbUrl,
              p1: promotion.p1,
              p2: promotion.p2,
              p3: promotion.p3
            }"
          ></ng-container>
        </ng-container>

        <ng-template
          #promo
          let-thumbUrl="thumbUrl"
          let-title="title"
          let-p1="p1"
          let-p2="p2"
          let-p3="p3"
        >
          <div class="promo">
            <div class="promo-thumbnail">
              <img [src]="thumbUrl" />
            </div>
            <div class="promo-title">
              <h4>{{ title }}</h4>
              <p *ngIf="p1">{{ p1 }}</p>
              <p *ngIf="p2">{{ p2 }}</p>
              <p *ngIf="p3">{{ p3 }}</p>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>

<!-- ad banner -->
<section class="ad-banner pt-100 pb-100">
  <div class="container">
    <app-ad-banner></app-ad-banner>
  </div>
</section>

<!-- why-jui -->
<section class="why-jui pb-100">
  <app-why-jui></app-why-jui>
</section>
