<section class="ad-banner-wrapper">
  <div class="container">
    <div class="row ad-banner-main">
      <div class="col-lg-6 align-self-center">
        <div class="description">
          <h1 class="mb-3">Bạn muốn trải nghiệm hương vị sản phẩm?</h1>
          <p class="mb-40">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="btn secondary-btn" [routerLink]="['/product']">
            Xem Shop
          </button>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero-img">
          <img
            src="../../../assets/ad-banner/ad-banner-hero-img.png"
            alt="ad-banner"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
