<div class="jumbotron jumbotron-fluid py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 offset-md-1 text-center logo-section">
        <img src="assets/footer/logo.png" alt="" class="img-fluid mb-4" />
        <div class="description mb-4 cl-gray">
          Nước trái cây tự nhiên cải thiện sức khỏe với nước ép nguyên chất.
        </div>
        <div class="hotline cl-gray">Hotline: 097 111 2222</div>
        <div class="email mb-4 cl-gray">Email: juichilly.vn@gmail.com</div>
        <div class="row">
          <div class="col-md-3">
            <img
              src="assets/footer/phone.png"
              alt=""
              class="img-fluid"
              width="40%"
            />
          </div>
          <div class="col-md-3">
            <img
              src="assets/footer/whatsapp.png"
              alt=""
              class="img-fluid"
              width="40%"
            />
          </div>
          <div class="col-md-3">
            <img
              src="assets/footer/fb.png"
              alt=""
              class="img-fluid"
              width="40%"
            />
          </div>
          <div class="col-md-3">
            <img
              src="assets/footer/ig.png"
              alt=""
              class="img-fluid"
              width="40%"
            />
          </div>
        </div>
      </div>
      <div class="col-md-2 offset-md-1 mt-3rem pl-5">
        <h3>Các sản phẩm</h3>
        <ul class="list-group border-0 cl-gray">
          <li class="list-group-item border-0 cl-gray">Nước cam</li>
          <li class="list-group-item border-0 cl-gray">Nước cam đỏ</li>
          <li class="list-group-item border-0 cl-gray">Nước cam lựu</li>
          <li class="list-group-item border-0 cl-gray">Nước cam chanh</li>
          <li class="list-group-item border-0 cl-gray">
            Nước hoa quả tổng hợp
          </li>
        </ul>
      </div>
      <div class="col-md-2 mt-3rem pl-5">
        <h3>Về Juichilly</h3>
        <ul class="list-group border-0 cl-gray">
          <li class="list-group-item border-0 cl-gray">
            Câu chuyện của chúng ta
          </li>
          <li class="list-group-item border-0 cl-gray">Khuyến mãi</li>
          <li class="list-group-item border-0 cl-gray">Đội ngũ</li>
          <li class="list-group-item border-0 cl-gray">Bài viết</li>
        </ul>
      </div>
      <div class="col-md-2 mt-3rem pl-5">
        <h3>Trợ giúp</h3>
        <ul class="list-group border-0 cl-gray">
          <li class="list-group-item border-0 cl-gray">
            Những câu hỏi thường gặp
          </li>
          <li class="list-group-item border-0 cl-gray">
            Điều khoản và dịch vụ
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-4">
  <div class="row">
    <div class="col-md-12 copyright text-center cl-gray">
      Copyright 2020 © 2021 Jarsy | Powered by Rometheme Studio
    </div>
  </div>
</div>
