<app-top-banner
  [bannerTitle]="'Bộ sưu tập'"
  [heroImgUrl]="'../../assets/top-banner-images/orange-hero-img.png'"
  [heroImgPosition]="'top'"
></app-top-banner>

<section class="main-content pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="gallery-title text-center mb-5">
          <h1 class="sub-title mb-2">Sent by Jarsy Juice Lovers</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim,
            cupiditate.
          </p>
        </div>

        <div class="gallery-wrapper">
          <div class="img-wrapper">
            <img
              src="../../assets/collection/gallery-1.jpg"
              class="img-fluid"
            />
          </div>

          <div class="img-wrapper">
            <img
              src="../../assets/collection/gallery-2.jpg"
              class="img-fluid"
            />
          </div>

          <div class="img-wrapper">
            <img
              src="../../assets/collection/gallery-3.jpg"
              class="img-fluid"
            />
          </div>

          <div class="img-wrapper">
            <img
              src="../../assets/collection/gallery-4.jpg"
              class="img-fluid"
            />
          </div>

          <div class="img-wrapper has-video position-relative">
            <img
              src="../../assets/collection/gallery-5.jpg"
              class="img-fluid"
            />
            <button class="btn play-btn">
              <a
                href="https://www.youtube.com/watch?v=Ynz7yansgkk"
                target="_blank"
                ><i class="bx bx-play"></i
              ></a>
            </button>
          </div>

          <div class="img-wrapper">
            <img
              src="../../assets/collection/gallery-6.jpg"
              class="img-fluid"
            />
          </div>

          <div class="img-wrapper">
            <img
              src="../../assets/collection/gallery-7.jpg"
              class="img-fluid"
            />
          </div>

          <div class="img-wrapper">
            <img
              src="../../assets/collection/gallery-8.jpg"
              class="img-fluid"
            />
          </div>

          <div class="img-wrapper">
            <img
              src="../../assets/collection/gallery-9.jpg"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="redirect pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-side block-redirect text-center">
          <img src="../../assets/collection/become-partner-icon.jpg" />
          <h3 class="sub-title">Trở thành đối tác</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
            deserunt aliquid officia rem ut non ea. Laudantium nostrum quidem
            nam.
          </p>
          <h5 class="sub-title" [routerLink]="['/become-partner']">
            Tìm hiểu thêm
          </h5>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="right-side block-redirect text-center">
          <img src="../../assets/collection/contact-icon.jpg" />
          <h3 class="sub-title">Làm việc với chúng tôi</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
            deserunt aliquid officia rem ut non ea. Laudantium nostrum quidem
            nam.
          </p>
          <h5 class="sub-title" [routerLink]="['/become-partner']">
            Tìm hiểu thêm
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
