<div class="product-rectangle" [class]="additionalClass">
  <img [src]="product.imgUrl" alt="" class="img-fluid mb-20" width="60%" />
  <div class="product-info">
    <h5 class="product-title m-0" [class]="product.font_color">
      {{ product.title }}
    </h5>
    <div class="short-description" [class]="product.font_color">
      {{ product.short_description }}
    </div>
    <div class="star mb-10" [class]="product.font_color">
      <i *ngFor="let star of [1, 2, 3, 4, 5]" class="bx bxs-star"></i>
      <span class="ml-5">({{ product.rating_amount }} đánh giá)</span>
    </div>
    <div
      class="btn btn-radius text-light mb-10 price"
      [class]="product.button_color"
      (click)="onAddingToCart()"
    >
      Thêm vào giỏ - {{ totalPrice | currency: " ":"code":"3.0" }} đ
    </div>
    <p class="d-none">{{ totalPrice | currency: " ":"code":"3.0" }} đ</p>
    <div class="add-cart d-flex justify-content-center align-items-center">
      <i
        class="bx bxs-minus-circle bx-flip-vertical"
        [style]="product.add_button"
        (click)="decreaseByOne()"
      ></i>
      <span class="px-3">{{ itemAmount }}</span>
      <i
        class="bx bxs-plus-circle bx-flip-vertical"
        [style]="product.add_button"
        (click)="increaseByOne()"
      ></i>
    </div>
  </div>

  <i class="bx bx-trash d-none" (click)="onRemovingFromCart()"></i>
</div>
