<img
  src="../../assets/stop-plastic/stop-plastic-banner.jpg"
  class="img-fluid w-100"
/>

<section class="main-content pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="mb-3">THE PLASTIC PLANET</h2>
        <p>
          Nếu không nhầm thì nhà bạn đang có những túi nylon mà bên trong chúng
          cũng chứa đầy các nylon khác. Hay chất ngất các vỏ chai nhựa trong
          ngăn tủ hoặc nhét ở một góc nhà. Chưa có một ngày nào bạn không thấy
          sự hiện diện của một túi nylon hay vỏ chai nhựa. Có đúng vậy không?
        </p>
        <p>
          Việc phát minh ra nhựa (nylon) vào năm 1907 được coi là một bước đột
          phá cho nhân loại. Nhưng trong rất nhiều năm, chúng ta không nhận thức
          được hậu quả khôn lường của chúng, tốc độ nhận thức quá chậm so với
          tốc độ sử dụng. Mỗi năm, thế giới thải bỏ hơn 8 TỶ TẤN rác nhựa và
          Việt Nam góp phần rất lớn trong số lượng rác thải khổng lồ đó. Với tốc
          độ phát triển này, chỉ trong vài chục năm nữa, khắp mọi nơi từ đất,
          nước - biển đảo sẽ ngập tràn rác thải nhựa từ tất cả mọi nơi trên trái
          đất này thải ra. Liệu bạn có muốn sống trong một hành tinh như thế?
        </p>

        <p class="mb-5">
          Không chỉ vì trái đất, vì môi trường sống mà là vì cuộc sống của chính
          chúng ta. Cùng True Juice tham gia các kế hoạch nhỏ hạn chế rác thải
          nhé!
        </p>

        <h2 class="mb-4">HÀNH ĐỘNG NHỎ TẠO NÊN THAY ĐỔI LỚN</h2>
        <div class="actions-wrapper">
          <div class="action">Refuse</div>
          <div class="action">Reduce</div>
          <div class="action">reuse</div>
          <div class="action">repurpose</div>
          <div class="action">recycle</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="illustraions-wrapper pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img
          src="../../assets/stop-plastic/nilon.png"
          alt=""
          class="img-fluid"
        />
      </div>

      <div class="col-4">
        <img
          src="../../assets/stop-plastic/bottles.png"
          alt=""
          class="img-fluid"
        />
      </div>

      <div class="col-4">
        <img
          src="../../assets/stop-plastic/niddle.png"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
