.main-content {
  background-color: #fbfaee;
}

.actions-wrapper {
  display: flex;
  column-gap: 2rem;
}

.actions-wrapper .action {
  font-size: 1.25rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #76a59a;
  flex-basis: 100%;
}

@media (max-width: 576px) {
  .text-center {
    text-align: left !important;
  }

  .actions-wrapper {
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
  }

  .actions-wrapper .action {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    flex-basis: unset;
    flex-grow: 1;
    text-align: center;
  }

  .actions-wrapper .action:nth-child(4),
  .actions-wrapper .action:nth-child(5) {
    flex-grow: unset;
    width: 40%;
  }
}
