<div class="container">
  <div class="row mt-5">
    <div class="header text-center">
      <h1>Điều khoản dịch vụ</h1>
    </div>
    <div class="col-sm-12 content">
      <div class="">
        <h4 class="content-header mb-3 mt-4">I. Chính sách mua hàng</h4>
        <p class="paragraph">
          Tất cả liệu trình và sản phẩm của Juichilly đều được mô tả thông tin,
          hình ảnh rõ ràng, được các chuyên viên tư vấn liệu trình giới thiệu và
          hướng dẫn tới cụ thể từng khách hàng trước khi đặt mua.
        </p>
        <p class="paragraph">
          Các liệu trình của Juichilly không bán lẻ hay qua bất kì kênh phân
          phối nào không được quy định ngoài website Juichilly.vn. Khách hàng
          vui lòng kiểm tra thông tin tránh nhầm lẫn hoặc mua hàng qua những
          kênh không phải do Juichilly quy định.
        </p>
        <p>
          Tất cả các sản phẩm của Juichilly đều trên bao bì đều ghi rõ ngày sản
          xuất, hạn sử dụng. Được sản xuất tươi mới theo quy trình sản xuất theo
          tiêu chuẩn đảm bảo chất lượng HACCP do cơ quan chức năng có thẩm quyền
          quy định.
        </p>
      </div>
      <div>
        <h4 class="content-header mb-3 mt-4">II. Chính sách thanh toán</h4>
        <p class="paragraph">
          Khách hàng cần thanh toán 100% các sản phẩm trước khi thanh toán bằng
          tiền mặt hoặc chuyển khoản.
        </p>
        <p class="paragraph">
          Khách hàng sẽ nhận được hóa đơn có con dấu của Juichilly cho đơn hàng
          đã mua vào ngày đầu tiên sử dụng liệu trình ghi rõ thông tin mua hàng,
          số tiền đã thanh toán
        </p>
      </div>
      <div>
        <h4 class="content-header mb-3 mt-4">III. Chính sách vận chuyển</h4>
        <p class="paragraph">
          Nhân viên giao hàng của Juichilly sẽ giao hàng tới địa chỉ khách hàng
        </p>
        <p class="paragraph">
          Sản phẩm và đồ uống luôn được bảo quản trong thùng giữ nhiệt, đảm bảo
          nhiệt độ giữ cho đồ uống đảm bảo chất lượng
        </p>
        <p class="paragraph">
          Khung giờ tiêu chuẩn dịch vụ từ 8h30 - 10h30 hàng ngày, phạm vi 8km
          tính từ địa điểm của Juichilly.
        </p>
        <p class="paragraph">
          Mọi yêu cầu vận chuyển ngoài phạm vị giao hàng tiêu chuẩn và giờ dịch
          vụ theo quy định sẽ được thỏa thuận giữa khách hàng và bộ phận chăm
          sóc, dịch vụ của Juichilly.
        </p>
      </div>
      <div>
        <h4 class="content-header mb-3 mt-4">IV. Giải quyết khiếu nại</h4>
        <p class="paragraph">
          Mọi thắc mắc và vấn đề phát sinh trong quá trình sử dụng đều được ghi
          nhận và xử lý cụ thể giữa bộ phận dịch vụ và khách hàng kiến nghị.
        </p>
        <p class="paragraph">
          Trường hợp khách hàng muốn dừng dịch vụ và hoàn trả tiền cần được
          thông báo rõ ràng lý do với nhân viên tư vấn phụ trách phía Juichilly
          để được xử lý
        </p>
      </div>
      <div class="mb-40">
        <h4 class="content-header mb-3 mt-4">V. Bảo mật thông tin</h4>
        <p class="paragraph">
          Khi bạn đăng ký tài khoản sử dụng, chúng tôi sẽ lưu lại những thông
          tin mà khách hàng đã cung cấp như họ, tên, địa chỉ, email, số điện
          thoại, mobile, nghề nghiệp… để có thể phục vụ cho việc tư vấn, giao
          hàng được dễ dàng và thuận tiện nhất.
        </p>
        <p class="paragraph">
          Mọi thông tin về khách hàng đã cung cấp sẽ được bảo mật và mã hóa nhằm
          mục đích hỗ trợ tư vấn, chăm sóc và theo sát quá trình sử dụng liệu
          trình đạt kết quả tốt nhất. Mọi dữ liệu liên quan đến khách hàng sẽ
          không được chia sẻ và phát tán ra bên ngoài dưới mọi hình thức.
        </p>
      </div>
    </div>
  </div>
</div>
