.top-banner-wrapper {
  background-color: var(--orange-light);
  position: relative;
  height: 400px;
}

.top-banner-wrapper h1 {
  color: white;
  line-height: 400px;
  padding-left: 6rem;
  width: 50%;
  font-size: 7rem !important;
}

.top-banner-wrapper img {
  max-width: 100%;
  position: absolute;
}

.top-banner-wrapper img.top {
  top: 0;
  right: 0;
}

.top-banner-wrapper img.bottom {
  bottom: 0;
  right: 0;
}
