@import "~swiper/swiper-bundle";

* {
  box-sizing: border-box;
}

*:disabled {
  cursor: not-allowed;
}

:root {
  --orange-light: #f68c29;
  --orange-dark: #d96e2b;
  --green: #79b152;
  --green-dark: #4c7838;
  --red: #ff6200;
  --brown-light: #d5394b;
  --brown-dark: #7f0d4c;
  --blue: #5799f2;
}

body,
html {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* transition styles */
a,
button,
i,
li,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0;
}

a,
button,
li,
span,
p,
div {
  font-family: "Roboto", sans-serif;
}

/* focus state */
img:focus,
li:focus,
i:focus,
button:focus,
/* select:focus,
input:focus,
textarea:focus, */
div:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
span:focus,
p:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* list styles */
ul {
  padding: 0;
  margin: 0;
}

/* buttons and links hover state styles */
a:focus,
a:hover {
  text-decoration: none;
  /* color: inherit !important; */
}

button:focus,
button:hover {
  text-decoration: none;
  /* color: inherit !important; */
}

/* responsive font size using clamp() */
h1 {
  font-size: clamp(2rem, 1.316rem + 1.9vw, 2.5rem);
}

h2 {
  font-size: clamp(1.75rem, 1.404rem + 0.96vw, 2rem);
}

h3 {
  font-size: clamp(1.5rem, 1.154rem + 0.96vw, 1.75rem);
}

h4 {
  font-size: clamp(1.25rem, 0.943rem + 0.96vw, 1.5rem);
}

p {
  font-size: 1.125rem;
}

/* utilities classes */
.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-5 {
  margin-left: 5px;
}

/* Colors */
.cl-orange-light {
  color: #f68c29;
}

.cl-orange-dark {
  color: #d96e2b;
}

.cl-green {
  color: #79b152;
}

.cl-green-dark {
  color: #4c7838;
}

.cl-pink {
  color: #d5394b;
}

.cl-pink-dark {
  color: #7f0d4c;
}

/* Button */

.btn {
  border-radius: 0.5rem;
}

.primary-btn {
  background-color: var(--orange-light);
  border-radius: 10px;
  color: white;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
}
.primary-btn:hover {
  color: white;
}

.secondary-btn {
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  padding: 0.8rem 1.6rem;
  font-weight: 500;
}
.secondary-btn:hover {
  color: white;
}

.secondary-btn.btn--orange {
  border-color: var(--orange-light);
  color: var(--orange-light);
}

.btn-radius {
  border-radius: 0.5rem;
}

.btn-pink-dark {
  background-color: #7f0d4c;
}

.btn-orange {
  background-color: #d96e2b;
}

.btn-green {
  background-color: #79b152;
}

.btn-pink {
  background-color: #d5394b;
}

.btn-green-dark {
  background-color: #4c7838;
}

/* style swiper */
.swiper-container {
  cursor: grab;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

@media screen and (max-width: 576px) {
  h1 {
    /* h1 becomes h2 - 32px*/
    font-size: 2rem;
  }

  h2 {
    /* h2 becomes h3 - 28px*/
    font-size: 1.75rem;
  }

  h3 {
    /* h3 becomes h4 - 24px */
    font-size: 1.5rem;
  }

  h4 {
    /* h4 becomes h5 - 20px */
    font-size: 1.25rem;
  }

  h5 {
    /* 18px */
    font-size: 1.125rem;
  }

  p,
  li,
  div {
    font-size: 0.875rem;
  }

  span,
  button {
    font-size: 0.8rem;
  }
}
