h1.banner-title {
  font-size: 4rem;
  margin-bottom: 0rem;
  color: var(--orange-light);
}

.sub-title {
  margin-bottom: 20px;
}

/* style juichilly-intro-banner */
.juichilly-intro-banner .banner-content p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.juichilly-intro-banner .banner-content p span {
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  color: var(--orange-light);
  font-family: "Lora", serif;
}

/* style juichilly-about-banner */
.juichilly-about-banner {
  background-color: #f9f8f8;
}

.juichilly-about-banner .banner-content h3 {
  margin-bottom: 0.5rem;
}

.juichilly-about-banner .banner-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: var(--orange-light);
  text-align: justify;
  word-break: break-word;
}

/* style juichilly ingredients */
.juichilly-ingredients h2 {
  margin-bottom: 10px;
}

.juichilly-ingredients .img-wrapper {
  position: relative;
}

.juichilly-ingredients .img-wrapper .ingredient {
  position: absolute;
}

.juichilly-ingredients .img-wrapper .ingredient p {
  margin-bottom: 0;
}

.ingredient.left-top {
  top: 100px;
  left: -100px;
  transform: translateX(-100%);
}

.ingredient.left-center {
  top: 55%;
  left: -400px;
  transform: translateY(-50%);
}

.ingredient.left-bottom {
  bottom: 10px;
  left: -100px;
  transform: translateX(-100%);
}

.ingredient.right-top {
  top: 100px;
  right: -100px;
  transform: translateX(100%);
}

.ingredient.right-center {
  top: 55%;
  right: -400px;
  transform: translateY(-50%);
}

.ingredient.right-bottom {
  bottom: 10px;
  right: -100px;
  transform: translateX(100%);
}

/* style order now section */
.order-now {
  background: url("../../assets/home/order-now-bg-img.jpg") center no-repeat;
  height: 850px;
}

.order-now h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
}

.order-now p {
  color: white;
  text-align: justify;
  word-break: break-word;
  margin-bottom: 2.5rem;
}

.order-now span {
  color: red;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 1.25rem;
  vertical-align: middle;
}

button.order-now-btn {
  border-radius: 10px;
  background-color: white;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--orange-light);
  font-weight: 500;
}

/* style slideshow */
.slide-show {
  position: relative;
  padding-inline: 5rem;
  background-color: var(--orange-light);
}

.slide-show img.decor {
  position: absolute;
}

img.decor.decor--topleft {
  top: 0;
  left: 0;
  transform: translateY(-95%);
}

img.decor.decor--bottomright {
  bottom: 0;
  right: 0;
  transform: translateY(100%);
}

/* style testimonials from customer section */
.customer-testi {
  background-color: #f9f8f8;
}

.customer-testi-main {
  padding: 3rem 2rem;
  background-color: white;
  box-shadow: 0 0 30px rgba(112, 112, 112, 0.1);
}

.customer-testi-block {
  text-align: center;
}

.customer-testi-block h4 {
  color: var(--orange-light);
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

/* style testimonials from community section */
.community-testi .description p {
  text-align: center;
  margin-bottom: 3rem;
}

.testi .testi-content {
  font-style: italic;
  font-weight: 500;
}

.testi .testi-content i {
  font-size: 2rem;
  font-style: italic;
}

/* style featured product section */
.featured-products {
  background: url("../../assets/home/featured-product-bg-img.jpg") no-repeat
    center;
  background-size: cover;
}

@media (max-width: 576px) {
  h1.banner-title {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .juichilly-intro-banner .banner-content p,
  .juichilly-about-banner .banner-content p {
    font-size: 1rem;
  }

  .juichilly-intro-banner .banner-content p span {
    font-size: 1.5rem;
  }

  .banner-content {
    text-align: center;
  }

  .col-lg-7 {
    order: 1;
  }

  .banner-hero-img {
    margin-top: 3rem;
  }

  .slide-show img.decor {
    transform: scale(0.4);
  }

  img.decor.decor--topleft {
    top: -105px;
    left: -150px;
  }

  img.decor.decor--bottomright {
    bottom: -55px;
    right: -60px;
  }

  .section-desc {
    text-align: center;
    margin-bottom: 2rem;
  }

  .community-testi .description p {
    margin-bottom: 2rem;
    text-align: justify;
    word-break: break-word;
  }

  .mb-60 {
    margin-bottom: 2rem;
    text-align: justify;
    word-break: break-word;
  }

  .order-now {
    height: 400px;
    position: relative;
    background-size: cover;
  }

  .order-now .container {
    position: relative;
    z-index: 1;
  }

  .order-now::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 0;
  }

  .order-now h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .order-now p {
    margin-bottom: 1.5rem;
  }

  .order-now span {
    color: white;
    font-size: 1rem;
  }

  button.order-now-btn {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
  }

  img.center {
    max-width: 50%;
  }

  .ingredient img {
    max-width: 40%;
  }

  .ingredient.left-top {
    top: 0;
    left: 20px;
    transform: translateX(0);
  }

  .ingredient.left-center {
    left: -20px;
  }

  .ingredient.left-bottom {
    left: 20px;
    bottom: -30px;
    transform: translateX(0);
  }

  .ingredient.right-top {
    top: 0;
    right: 20px;
    transform: translateX(0);
  }

  .ingredient.right-center {
    right: -15px;
  }

  .ingredient.right-bottom {
    right: 20px;
    bottom: -30px;
    transform: translateX(0);
  }

  .slide-show {
    padding-inline: 1rem;
  }

  .slide-show.pt-100 {
    padding-top: 1rem;
  }

  .slide-show.pb-100 {
    padding-bottom: 1rem;
  }
}
